nextflow.enable.dsl = 2

params.samplesheet = null
params.input_dir = ''
params.outdir = 'denovo-assembly-results'
params.max_cpus = 16
params.assembler = 'hifiasm'
params.long_read_platform = 'hifi'
params.reference_guide = ''
params.genome_size = '3g'
params.flye_read_type = 'auto'
params.assembler_threads = 16
params.assembler_memory = '88 GB'
params.publish_dir_mode = 'copy'
params.trace_report_suffix = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

process {
  shell = ['/usr/bin/env', 'bash', '-euo', 'pipefail']
  cpus = 2
  memory = '8 GB'
  errorStrategy = 'terminate'
  resourceLimits = [ cpus: params.max_cpus as int ]

  withName: HIFIASM_ASSEMBLE {
    cpus = params.assembler_threads
    memory = params.assembler_memory
  }

  withName: FLYE_ASSEMBLE {
    cpus = params.assembler_threads
    memory = params.assembler_memory
  }

  withName: VERKKO_ASSEMBLE {
    cpus = params.assembler_threads
    memory = params.assembler_memory
  }
}

profiles {
  opengenome {
    process.executor = 'local'
  }

  conda {
    process.executor = 'local'
    process.conda = "${projectDir}/../../modules/denovo_assembly/environment.yml"
  }

  docker {
    docker.enabled = true
    conda.enabled = false
    singularity.enabled = false
    podman.enabled = false
    apptainer.enabled = false
    docker.runOptions = '-u $(id -u):$(id -g)'
  }

  apptainer {
    apptainer.enabled = true
    apptainer.autoMounts = true
    conda.enabled = false
    docker.enabled = false
    singularity.enabled = false
    podman.enabled = false
  }

  stub {
    process.executor = 'local'
    executor.queueSize = 2
    params.assembler_threads = 2
    params.assembler_memory = '2 GB'
  }

  test {
    includeConfig 'conf/test.config'
  }
}

manifest {
  name = 'opengenome/denovo-assembly'
  description = 'Local-first long-read de novo assembly workflow for PacBio HiFi and ONT reads.'
  mainScript = 'main.nf'
  nextflowVersion = '!>=25.04.0'
  version = '0.1.0-dev'
}
