nextflow.enable.dsl = 2

params.samplesheet = null
params.outdir = 'open-genome-results'
params.workdir = null
params.fasta = null
params.fasta_fai = null
params.dict = null
params.dbsnp = ''
params.dbsnp_tbi = ''
params.known_indels = ''
params.known_indels_tbi = ''
params.clinvar = ''
params.clinvar_tbi = ''
params.pharmcat_jar = ''
params.cache_dir = ''
params.report_compiler = "${projectDir}/../../lib/report_compiler.py"
params.enable_clinvar = true
params.enable_pgx = true
params.allow_downloads = false

process {
  shell = ['/usr/bin/env', 'bash', '-euo', 'pipefail']
  cpus = 2
  memory = '4 GB'
  errorStrategy = 'terminate'
}

profiles {
  opengenome {
    process.executor = 'local'
  }

  conda {
    process.executor = 'local'
    process.conda = "${projectDir}/../../modules/opengenome/environment.yml"
  }

  stub {
    process.executor = 'local'
    executor.queueSize = 2
  }
}
