nextflow.enable.dsl = 2

params.samplesheet = null
params.input_dir = ''
params.outdir = 'open-genome-results'
params.max_cpus = 2
params.workdir = null
params.fasta = null
params.fasta_fai = null
params.dict = null
params.dbsnp = ''
params.dbsnp_tbi = ''
params.known_indels = ''
params.known_indels_tbi = ''
params.clinvar = ''
params.clinvar_tbi = ''
params.gnomad = ''
params.gnomad_tbi = ''
params.vep_cache = ''
params.snpeff_db = ''
params.snpeff_config = ''
params.pharmcat_jar = ''
params.cache_dir = ''
params.report_compiler = "${projectDir}/../../lib/report_compiler.py"
params.publish_dir_mode = 'copy'
params.trace_report_suffix = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
params.enable_clinvar = true
params.enable_pgx = true
params.allow_downloads = false
params.sequencing_platform = 'illumina'
params.short_read_aligner = 'bwa-mem2'
params.long_read_aligner = 'auto'
params.variant_caller = 'auto'
params.deepvariant_model = 'auto'
params.deepvariant_bin = 'run_deepvariant'
params.clair3_model = ''
params.clair3_platform = 'auto'
params.clair3_bed = ''
params.clair3_ctg = ''
params.clair3_chunk_size = 5000000

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

process {
  shell = ['/usr/bin/env', 'bash', '-euo', 'pipefail']
  cpus = 2
  memory = '4 GB'
  errorStrategy = 'terminate'
  resourceLimits = [ cpus: params.max_cpus as int ]

  withName: ALIGN_FASTQ {
    cpus = 8
    memory = '16 GB'
  }

  withName: ALIGN_LONG_READS {
    cpus = 8
    memory = '24 GB'
  }

  withName: GATK_GERMLINE {
    cpus = 8
    memory = '24 GB'
  }

  withName: DEEPVARIANT_GERMLINE {
    cpus = 8
    memory = '32 GB'
  }

  withName: CLAIR3_GERMLINE {
    cpus = 8
    memory = '32 GB'
  }
}

profiles {
  opengenome {
    process.executor = 'local'
  }

  conda {
    process.executor = 'local'
    process.conda = "${projectDir}/../../modules/opengenome/environment.yml"
  }

  docker {
    docker.enabled = true
    conda.enabled = false
    singularity.enabled = false
    podman.enabled = false
    apptainer.enabled = false
    docker.runOptions = '-u $(id -u):$(id -g)'
  }

  apptainer {
    apptainer.enabled = true
    apptainer.autoMounts = true
    conda.enabled = false
    docker.enabled = false
    singularity.enabled = false
    podman.enabled = false
  }

  stub {
    process.executor = 'local'
    executor.queueSize = 2
  }

  test {
    includeConfig 'conf/test.config'
  }
}

manifest {
  name = 'opengenome/open-genome'
  description = 'Local-first reference germline workflow for Illumina WGS, PacBio HiFi, ONT, BAM, and CRAM inputs.'
  mainScript = 'main.nf'
  nextflowVersion = '!>=25.04.0'
  version = '0.1.0-dev'
}
