nextflow.enable.dsl = 2

params.samplesheet = null
params.input_dir = ''
params.outdir = 'vcf-annotate-results'
params.max_cpus = 2
params.fasta = null
params.dbsnp = ''
params.clinvar = ''
params.gnomad = ''
params.vep_cache = ''
params.snpeff_db = ''
params.pharmcat_jar = ''
params.report_compiler = "${projectDir}/../../lib/report_compiler.py"
params.publish_dir_mode = 'copy'
params.trace_report_suffix = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
params.enable_clinvar = true
params.enable_pgx = true

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

process {
  cpus = 2
  memory = '4 GB'
  resourceLimits = [ cpus: params.max_cpus as int ]
}

profiles {
  opengenome {
    process.executor = 'local'
  }

  conda {
    process.executor = 'local'
    process.conda = "${projectDir}/../../modules/opengenome/environment.yml"
  }

  docker {
    docker.enabled = true
    conda.enabled = false
    singularity.enabled = false
    podman.enabled = false
    apptainer.enabled = false
    docker.runOptions = '-u $(id -u):$(id -g)'
  }

  apptainer {
    apptainer.enabled = true
    apptainer.autoMounts = true
    conda.enabled = false
    docker.enabled = false
    singularity.enabled = false
    podman.enabled = false
  }

  stub {
    process.executor = 'local'
    executor.queueSize = 2
  }

  test {
    includeConfig 'conf/test.config'
  }
}

manifest {
  name = 'opengenome/vcf-annotate'
  description = 'Local-first report workflow for existing VCF inputs.'
  mainScript = 'main.nf'
  nextflowVersion = '!>=25.04.0'
  version = '0.1.0-dev'
}
