/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    OpenGenome de novo assembly test profile
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Bounded resources for local smoke tests.
----------------------------------------------------------------------------------------
*/

params.assembler_threads = 2
params.assembler_memory = '2 GB'

process {
  cpus = 2
  memory = '4 GB'
}

executor {
  queueSize = 2
}
