process {
  shell = ['/usr/bin/env', 'bash', '-euo', 'pipefail']
  errorStrategy = 'terminate'
}

workflow.output.mode = params.publish_dir_mode

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}

report {
  enabled = true
  file = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}

trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}

dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}
